*{
    box-sizing: border-box;
}

.row

.row::after{
    content: "";
    display: table;
    clear: both;
}

.row.col1 > div {
    width: 100%;
}

.row.col2 > div {
    width: 50%;
}

.row.col3 > div {
    width: 33.33333%;
}

.row.col4 > div {
    width: 25%;
}

.row .box{
    float: left;
    padding: 5 px;
}

.row .box .bin{
    background-color: bisque;
    border: 1px solid brown;
}
