*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4em;
  color: #2c2528;
  padding: 0;
  margin: 0;
}

.wrap {
  border: 6px solid #6a5b5c;
  background-color: white;
  position: relative;
  z-index: 5;
  min-height: 695px;
}

.wrap #overlay {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.wrap #wrap-content::before {
  content: "";
  display: table;
}

.wrap #wrap-content {
  zoom: 1;
  background-color: #e5e2d4;
}

.wrap #wrap-content header {
  background-color: white;
}

.wrap #wrap-content .available {
  background-color: #e5e2d4;
  color: #2c2528;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 90%;
  display: block;
  text-align: center;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
  cursor: pointer;
}

.wrap #wrap-content .available:hover {
  background-color: rgba(141, 115, 48, 0.267);
}

.wrap #wrap-content .navigation {
  margin: 0 auto;
  max-width: 1764px;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

.wrap #wrap-content .page-navigation {
  position: relative;
}

.wrap #wrap-content .page-navigation .toolbar {
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 36px;
  padding: 0.5em 0;
  zoom: 1;
}

.wrap #wrap-content .page-navigation .toolbar::before {
  content: "";
  display: table;
}

.wrap #wrap-content .page-navigation .toolbar .mobile-toolbar {
  display: none;
  float: left;
}

.wrap #wrap-content .page-navigation .toolbar .mobile-toolbar .hamb {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  text-decoration: none;
}

.wrap #wrap-content .page-navigation .toolbar .mobile-toolbar .compact-logo {
  display: none;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  white-space: nowrap;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links .toolbar-links > * {
  vertical-align: middle;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links .log {
  text-decoration: none;
  color: inherit;
  font-weight: 550;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links .log:hover {
  color: rgba(66, 57, 30, 0.795);
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links .search-form {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 0;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links .search-form input {
  position: relative;
  z-index: 1;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid transparent;
  background: transparent;
  margin-top: -1px;
  padding: 1px 10px 0px 20px;
  width: 180px;
  height: 38px;
  font-size: 15px;
  line-height: 38px;
  color: #2c2528;
  text-transform: none;
  border-radius: 0px;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links .search-form input:focus {
  border: 1px solid lightgrey;
  -webkit-transform: translate3d(10px, 0, 0);
          transform: translate3d(10px, 0, 0);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links .search-form input:focus + button {
  left: 10px;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links .search-form button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0px;
  padding: 5px 0 6px;
  margin: -14px 0 0;
  border: none;
  background: transparent;
  color: inherit;
  -webkit-transition: fill 120ms;
  transition: fill 120ms;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links .search-form svg {
  width: 17px;
  height: 17px;
  vertical-align: top;
  -webkit-transition: fill 120ms;
  transition: fill 120ms;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links .search-form svg g {
  color: #2c2528;
  -webkit-transition: fill 100ms;
  transition: fill 100ms;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-links .search-form .sear4::after {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: #ffffff;
  -webkit-transform: scaleX(0.9);
          transform: scaleX(0.9);
  border-radius: 0px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: fill 120ms;
  transition: fill 120ms;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-socials {
  position: relative;
  line-height: 38px;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-socials .social-links {
  position: absolute;
  white-space: nowrap;
  right: 0;
  margin: 0;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-socials .social-links li {
  margin: 0 0.3em 0.5em;
  display: inline-block;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-socials .social-links svg {
  width: 17.1px;
  height: 17.1px;
  overflow: visible;
  -webkit-transition: fill 120ms;
  transition: fill 120ms;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-socials .social-links a {
  opacity: 0.8;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-socials .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-socials .list svg:hover {
  fill: #5c8018;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-socials .list svg:hover g:hover {
  fill: #5c8018;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-cart {
  margin-left: 2em;
  line-height: 38px;
  position: relative;
  white-space: nowrap;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-cart .summary {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  opacity: 0.8;
  -webkit-transition: fill 120ms;
  transition: fill 120ms;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-cart .summary:hover {
  fill: #5c8018;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-cart .summary .cart-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  line-height: 19px;
}

.wrap #wrap-content .page-navigation .toolbar .toolbar-cart .summary .cart-icon svg {
  width: 19px;
  height: 19px;
}

.wrap #wrap-content .page-navigation .toolbar::after {
  content: "";
  display: table;
}

.wrap #wrap-content .page-navigation .logo-navigation {
  position: relative;
  z-index: 100;
}

.wrap #wrap-content .page-navigation .logo-navigation .canopy {
  zoom: 1;
}

.wrap #wrap-content .page-navigation .logo-navigation .canopy::before {
  content: "";
  display: table;
}

.wrap #wrap-content .page-navigation .logo-navigation .canopy::after {
  content: "";
  display: table;
  clear: both;
}

.wrap #wrap-content .page-navigation .logo-navigation .can-logo {
  float: left;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

.wrap #wrap-content .page-navigation .logo-navigation .can-logo img {
  width: 120px;
  height: auto;
  vertical-align: top;
  max-width: 100%;
}

.wrap #wrap-content .page-navigation .logo-navigation .main-navigation {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  text-align: center;
  zoom: 1;
}

.wrap #wrap-content .page-navigation .logo-navigation .main-navigation::before {
  content: "";
  display: table;
}

.wrap #wrap-content .page-navigation .logo-navigation .main-navigation::after {
  content: "";
  display: table;
  clear: both;
}

.wrap #wrap-content .page-navigation .logo-navigation .main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap #wrap-content .page-navigation .logo-navigation .main-navigation .nav-item {
  display: inline-block;
}

.wrap #wrap-content .page-navigation .logo-navigation .main-navigation .nav-item.dropdown {
  padding-right: 1em;
}

.wrap #wrap-content .page-navigation .logo-navigation .main-navigation .nav-item.dropdown svg {
  fill: currentColor;
  position: absolute;
  right: -2px;
  top: 1.11em;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}

.wrap #wrap-content .page-navigation .logo-navigation .main-navigation .item-link {
  display: inline-block;
  padding: 0.5em 1em 0.9em;
  line-height: 1.1em;
  color: #2c2528;
  position: relative;
  text-decoration: none;
}

.wrap #wrap-content main {
  display: block;
  margin-bottom: 5em;
  background-color: white;
}

.wrap #wrap-content main .sect1 {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
  margin-bottom: 3.5em;
  padding-bottom: 0;
}

.wrap #wrap-content main .sect1 .container {
  margin: 0 auto;
  max-width: 1764px;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

.wrap #wrap-content main .sect1 .container .slideshows {
  overflow: hidden;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.wrap #wrap-content main .sect1 .container .slideshows button {
  display: none;
}

.wrap #wrap-content main .sect1 .container .slideshows .arrow {
  position: absolute;
  z-index: 1;
  display: block;
  height: 80px;
  width: 80px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0;
  border: none;
  outline: none;
}

.wrap #wrap-content main .sect1 .container .slideshows .arrow.next {
  right: -0px;
}

.wrap #wrap-content main .sect1 .container .slideshows .arrow svg {
  width: 80px;
  height: 80px;
  fill: white;
  opacity: 0.75;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
}

.wrap #wrap-content main .sect1 .container .slideshows .draggable {
  height: 297.422px;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.wrap #wrap-content main .sect1 .container .slideshows .draggable .track {
  opacity: 1;
  width: 2082px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.wrap #wrap-content main .sect1 .container .slideshows .draggable .track::before {
  content: "";
  display: table;
}

.wrap #wrap-content main .sect2 {
  margin-top: 5.25em;
  margin-bottom: 5.25em;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}

.wrap #wrap-content main .sect2 .container {
  margin: 0 auto;
  max-width: 1764px;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

.wrap #wrap-content main .sect2 .container h1 {
  font-size: 21px;
  font-weight: 700;
}

.wrap #wrap-content main .sect2 .container .yep {
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 1.4em;
  color: #6a5b5c;
  margin: 0 0 0.7em;
  padding: 0;
  text-align: center;
}

.wrap #wrap-content main .sect2 .container .since {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  max-width: 100%;
  zoom: 1;
  line-height: 1.6em;
  word-wrap: break-word;
}

.wrap #wrap-content main .sect2 .container .since::before {
  content: "";
  display: table;
}

.wrap #wrap-content main .sect2 .container .since::after {
  content: "";
  display: table;
  clear: both;
}

.wrap #wrap-content main .sect2 .container .since p {
  margin: 0 0 1em;
  margin-bottom: 0;
  text-align: center;
}

.wrap #wrap-content main .sect3 {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  padding-top: 0;
  padding-bottom: 0;
}

.wrap #wrap-content main .sect3 .container {
  margin: 0 auto;
  max-width: 1764px;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
}

.wrap #wrap-content main .sect3 .container .opposing {
  zoom: 1;
  text-align: right;
  margin-bottom: 1.2em;
}

.wrap #wrap-content main .sect3 .container .opposing .section-heading {
  margin-bottom: 0.2em;
  float: left;
  text-align: left;
}

.wrap #wrap-content main .sect3 .container .opposing .section-heading a {
  color: #6a5b5c;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: background-color 120ms, color 120ms, border-color 120ms;
  transition: background-color 120ms, color 120ms, border-color 120ms;
}

.wrap #wrap-content main .sect3 .container .opposing .section-heading a:hover {
  color: #5c8018;
}

.wrap #wrap-content main .sect3 .container .opposing .view {
  margin-top: 0.85em;
  margin-bottom: 0.5em;
  display: inline-block;
  color: #5c8018;
  margin: 1em 0;
  padding: 0 0 0.2em;
  text-decoration: none;
  -webkit-transition: background-color 120ms, color 120ms, border-color 120ms;
  transition: background-color 120ms, color 120ms, border-color 120ms;
}

.wrap #wrap-content main .sect3 .container .opposing .view::after {
  content: '';
  display: block;
  margin-top: 0.2em;
  border-bottom: 1px solid rgba(92, 128, 24, 0.226);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.wrap #wrap-content main .sect3 .container .opposing .view:hover {
  color: #5c8018;
  outline: 0;
}

.wrap #wrap-content main .sect3 .container .opposing .view:hover::after {
  border-bottom-color: rgba(54, 75, 15, 0.596);
}

.wrap #wrap-content main .sect3 .container .opposing::before {
  content: "";
  display: table;
}

.wrap #wrap-content main .sect3 .container .opposing::after {
  content: "";
  display: table;
  clear: both;
}

.wrap #wrap-content main .sect3 .container .product-grid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: calc(3.5em - 30px);
  zoom: 1;
}

.wrap #wrap-content main .sect3 .container .product-grid::before {
  content: "";
  display: table;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block {
  margin-left: -1px;
  margin-bottom: -1px;
  padding-bottom: 20px;
  border: 1px solid #dfdedf;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 175px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block:hover {
  z-index: 1;
  border-color: #c0bebf;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 20px 10px 0;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .image {
  min-height: 134.219px;
  position: relative;
  margin: 0 0 1em;
  width: 100%;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .image .innage {
  position: relative;
  text-align: center;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .image .innage a {
  text-decoration: none;
  color: inherit;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .image .innage a .img-wrapper {
  max-width: 1200px;
  padding-top: 100.0%;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .image .innage a .img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .image .product-label {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .image .product-label span {
  display: inline-block;
  padding: 3px 8px 4px;
  font-size: 90%;
  line-height: 1.2em;
  background: #7f7f7f;
  color: #ffffff;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .image .product-label.sale span {
  display: inline-block;
  padding: 3px 8px 4px;
  font-size: 90%;
  line-height: 1.2em;
  background: #89c21e;
  color: #ffffff;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .weight {
  margin: 0 0 8px;
  opacity: 0.75;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .title-price {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .title-price .title {
  display: block;
  color: inherit;
  padding-top: 0.1em;
  margin: 0 0 0.2em;
  text-decoration: none;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .title-price .price {
  white-space: nowrap;
  font-size: 1.25em;
  color: #6a5b5c;
  line-height: 1em;
  font-weight: 600;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .title-price .price span {
  color: #2c2528;
  font-size: 15px;
  font-weight: normal;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .title-price .price i {
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .title-price .price .pretzels {
  white-space: nowrap;
  font-size: 18.75px;
  color: #89c21e;
  line-height: 1em;
  font-weight: 600;
  margin-right: 4px;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .title-price .price del {
  font-size: 15px;
  opacity: 0.75;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .product-form {
  margin-top: 1em;
  margin-bottom: 1em;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .product-form .product-add {
  display: inline-block;
  background: #5c8018;
  color: #ffffff;
  border: 2px solid #5c8018;
  height: auto;
  width: auto;
  padding: 9px 1.4em;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
  border-radius: 0px;
  -webkit-transition: opacity 200ms, background-color 150ms, border-color 150ms;
  transition: opacity 200ms, background-color 150ms, border-color 150ms;
  cursor: pointer;
}

.wrap #wrap-content main .sect3 .container .product-grid .product-block .inner .product-form .product-add:hover {
  border-color: #7bab20;
  background: #7bab20;
  color: #ffffff;
}

.wrap #wrap-content main .sect3 .container .product-grid .first {
  clear: left;
}

@media screen and (min-width: 1024px) {
  .wrap {
    border: 12px solid #6a5b5c;
  }
}

@media screen and (max-width: 768px) {
  .mobile-toolbar {
    display: inline-block;
  }
  .compact-logo {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2em;
    color: #6a5b5c;
    vertical-align: middle;
  }
}
/*# sourceMappingURL=canoby.css.map */